{% extends 'layout/base.html' %}
{% load static %}
{% load template_functions %}

{% block title %}
Rental Admin CRUD
{% endblock %}

{% block nav-container %}
<div id="nav-container">
{% endblock %}

{% block header-title %}
Administrador CyberTec
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/DataTables/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fontawesome-free-6.4.2-web/css/all.min.css' %}">
{% endblock %}

{% block content %}
<div class="crud-tables container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Historial de Juegos</h2>
                <table id="plays-table" class="table">
                    <caption>
                        Historial de los registros de los estudiantes que han jugado un juego.
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Estudiante</th>
                            <th class="centered">Juego</th>
                            <th class="centered">Fecha y hora</th>
                            <th class="centered">Finalizado</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_plays"></tbody>
                </table>
            </div>
        </div>
    </div>
    {% if request.user|has_group:"admin" %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Estudiantes</h2>
                <table id="students-table" class="table table-striped table-bordered">
                    <caption>
                        Registro de estudiantes que han jugado
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">Matrícula</th>
                            <th class="centered">Nombre del estudiante</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_students"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Catálogo de Juegos</h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#gameModal">Agregar juego</button>
                <table id="games-table" class="table table-striped table-bordered">
                    <caption>
                        Juegos registrados en el sistema
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Nombre único</th>
                            <th class="centered">Nombrer mostrado</th>
                            <th class="centered">Disponible</th>
                            <th class="centered">Mostrar</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_games"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Historial</h2>
                <table id="logs-table" class="table table-striped table-bordered">
                    <caption>
                        Historial de actividad de los usuarios.
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Usuario</th>
                            <th class="centered">Acción realizada</th>
                            <th class="centered">Fecha y hora</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_logs"></tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Sanciones</h2>
                <table id="sanctions-table" class="table table-striped table-bordered">
                    <caption>
                        Registros de sanciones a estudiantes.
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Estudiante</th>
                            <th class="centered">Causa</th>
                            <th class="centered">Play Reference</th>
                            <th class="centered">Inicio</th>
                            <th class="centered">Fin</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_sanctions"></tbody>
                </table>
            </div>
        </div>
    </div>
    {% if request.user|has_group:"admin" %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <h2 class="table-title">Usuarios</h2>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userModal">Agregar
                    usuario</button>
                <table id="users-table" class="table table-striped table-bordered">
                    <caption>
                        Usuarios registrados en el sistema.
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">ID</th>
                            <th class="centered">Nombre de usuario</th>
                            <th class="centered">Administrador</th>
                            <th class="centered">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_users"></tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if request.user|has_group:"admin" %}
<!-- Modal for add/edit game -->
<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gameModalLabel">Nuevo Juego</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="gameForm" action="{% url 'game' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Nombre clave:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="displayName" class="col-form-label">Nombre a mostrar:</label>
                        <input type="text" class="form-control" id="displayName" name="displayName" required>
                    </div>
                    <div class="mb-3">
                        <label for="show" class="col-form-label">Mostrar:</label>
                        <input type="checkbox" class="form-check-input" id="show" name="show" checked>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitGame">Crear</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for add/edit user -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Nuevo Usuario</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="userForm" action="{% url 'user' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="displayName" class="col-form-label">Correo:</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="col-form-label">Confirmar contraseña:</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div>
                    <div class="mb-3">
                        <label for="admin" class="col-form-label">Hacer Administrador:</label>
                        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submitUser">Crear</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Modal for edit student -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentModalLabel">Modificar Estudiante</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="displayName" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" id="studentName" name="studentName" required>
                </div>
                <input type="hidden" id="studentId" name="studentId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="submitStudent">Modificar</button>
            </div>
        </div>
    </div>
</div>

<!-- Adds CSRF token to AJAX requests -->
{% csrf_token %}

<!-- Modal for delete confirmation -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">New message</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">¿Estas seguro?</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!-- Added Popper through CDN -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="{% static 'vendor/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
{% if request.user|has_group:"admin" %}
<script src="{% static 'js/admin_privileged.js' %}"></script>
{% endif %}
{% endblock %}