footer
    width: 100%
    // background: linear-gradient(to bottom, #101216, #091314)
    background: linear-gradient(to bottom, #101216, #101216)
    color: #fff
    padding: 25px 0 5px
    line-height: 20px
    letter-spacing: -0.01em
    font-family: "Roboto",sans-serif
    font-size: 0.8rem
    font-weight: 300

hr
  width: 90%
  border: 0
  border-bottom: 1px solid #ccc
  margin: 20px auto

footer .copyright
  text-align: center
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
