footer
  width: 100%
  line-height: 20px
  letter-spacing: -0.01em
  font-family: "Roboto",sans-serif
  font-size: 0.8rem
  font-weight: 300
  margin-top: auto

hr
  width: 90%
  border: 0
  border-bottom: $footer-hr-line-toggle
  margin: 15px auto

footer .footer-info
  text-align: center
  display: block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.vl
  border-bottom: 0px
  border-left: 1px
  border-right: 0px
  border-top: 0px
  border-style: solid
  color: gray
  height: 20px
