{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
Index
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fontawesome-free-6.4.2-web/css/all.min.css' %}">
{% endblock %}

{% block content %}
<h1>Bienvenido a Ciber Tec</h1>
<div class="cyber__wrapper">
    <div class="cyber__cards">

        {% for game in games %}
        <div class=" cyber__card [ is-collapsed ] ">
            <div class="cyber__card__inner [ js-expander ]">
                <span>{{ game.displayName }}</span><br>
                <img class="cyber__image" src="{% static game.file_route %}" alt="Futbolito 1">
                <div class="remaining__time">
                    <p id="cyber__countdown__{{ forloop.counter }}"> No data</p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="cyber__card__expander">
<link rel="stylesheet" href="{% static 'vendor/DataTables/datatables.min.css' %}">
                <i class="fa fa-close [ js-collapser ]"></i>
                <div class="collapsed__students">
                    <ul>
                        {% for player in game.plays_data %}
                        <div class="student">
                            <li>{{ player.student_id }}</li>
                            <form class="end-play-form" id="end-play-form-{{ player.student_id }}">
                                {% csrf_token %}
                                <input type="hidden" name="student_id" value="{{ player.student_id }}">
                                <button type="submit">End Play</button>
                            </form>
                        </div>
                        {% endfor %}
                    </ul>
                    <form class="add-student-game" id="add-student-game-{{ game.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="game_id" value="{{ game.id }}">
                        <input type="text" name="student_id" placeholder="Student ID">
                        <button type="submit">Add Student</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</div>
<div id="error-alert" class="alert alert-danger d-none" role="alert">
    <!-- Error messages will be inserted here -->
</div>
{% endblock %}

{% block js %}
<!-- Added Popper through CDN -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="{% static 'vendor/bootstrap-5.2.3-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/cards.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'js/auth_cards.js' %}"></script>
{% endif %}
{% endblock %}