{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h2>Bienvenido</h2>
    <div class="login-field">
        <h5>Usuario:</h5>
        <input class="input" type="text" name="username">
    </div>
    <div class="login-field">
        <h5>Contraseña:</h5>
        <input class="input" type="password" name="password">
    </div>
    <a class="forgot-pass" href="#">Forgot Pasword</a>
    {% if error_message %}
    <p class="login-error">{{ error_message }}</p>
    {% endif %}
    <input class="btn" type="submit" value="Login">
</form>
{% endblock %}

{% block js %}

{% endblock %}