{% extends 'layout/base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block nav-container %}
<div id="nav-container-logo">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}

<div class="container" style="max-width: 340px; min-width: 340px;">
  <div class="row logo"></div>
  <div class="row d-flex justify-content-center align-content-center p-3 form-header">Entrar a CyberTec</div>
  <div class="container mt-3 p-3 bg-dark.bg-gradient rounded login-container">
    <form method="POST">
      {% csrf_token %}
      
      <label for="username" class="label-container">Usuario o correo electrónico</label>
      <input type="text" class="form-control input-block js-login-field rounded" id="username" name="username" placeholder="" aria-label="Username" aria-describedby="basic-addon1">      
      
      <div class="position-relative">
        <label class="label-container" for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control input-block rounded">
        <a href="" class="label-link position-absolute top-0">¿Olvidaste tu contraseña?</a>

        <button type="submit" class="btn btn-block sign-in-btn" value="login">Ingresar</button>
      </div>
    </form>
  </div>
  </div>



{% endblock %}

{% block js %}

{% endblock %}