.modal-content
//     background-color: $modal-content-bg-default
    background-color: $modal-content-bg-toggle

    .form-control
     //    background-color: $form-control-bg-default
        background-color: $form-control-bg-toggle
     //    color: $form-control-fg-default
        color: $form-control-fg-toggle
        border: 2px solid white

.btn-green
     background-color: #4CAF50
     color: white
     padding: 10px 20px
     border: none
     cursor: pointer
     margin-right: 10px

.btn-red
     background-color: #FF6961
     color: white
     padding: 10px 20px
     border: none
     cursor: pointer