{% load static %}
<header style="z-index: 100;" class="position-sticky top-0">
    <div id="nav-container">
        <div id="nav-overlay"></div>
        <nav id="nav-fullscreen">
            <ul>
                <li><a class="cool-hover" href="{% url 'index' %}">Home</a></li>
                <li><a class="cool-hover" href="{% url 'regulations' %}">Reglamento</a></li>
                {% if user.is_authenticated %}
                <!-- If the user is authenticated shows the admin CRUD page-->
                <li><a class="cool-hover" href="{% url 'admin' %}">Admin</a></li>
                <li><a class="cool-hover" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a class="cool-hover" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="d-flex flex-justify-between flex-items-center flex-wrap align-items-center gap-4">

            <a id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="d-flex justify-content-start align-items-center">
                <img width=50 src="static/assets/CyberTecLogo-Light.svg"/>
                <div class="heading-header">
                    {% block header-title %}{% endblock %}<br>
                </div>
            </div>
            
            {% if user.is_authenticated %}
                <div class="heading-user" id="user-info" data-username="{{ user.username }}"><span class="user-tag">Usuario:</span> <span class="user-name">{{ user.username }}</span></div>
            {% endif %}

            {% block searchbox %}{% endblock %}
        </div>
        
        <div class="dark-light" style="background-color: aqua;">Dark-Light</div>
    </div>
</header>